body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 75% 15%;
}

header {
    background: #3347B0;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-name__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11px;
    padding-left: 40px;
}

.name__container {
    display: flex;
    flex-direction: column;
}

.name__text {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.exit__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-right: 40px;
}

.out__text {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

main {
    grid-column: 1;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.promotion__container {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.promotion__text{
    font-weight: 200;
    font-size: 3.5rem;
}

.promotion__text span {
    color: #3347B0;
}

.studant__container {
    grid-column: 2;
    align-self: center;
}

footer {
    grid-row: 3;
    background-color: #3347B0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contact__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
}

.contact__container i {
    color: #fff;
}

.text__contact {
    color: #fff;
}

.copyright__container {
    color: #fff;
    font-size: 1.2rem;
}

.social-media__container {
    color: #fff;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.media__container {
    border-radius: 50%;
    border: 2px solid #fff;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}